#root {
  max-width: 1580px;
  margin: 0 auto;
}

.app-header {
  text-align: center;
}

.app-header-button {
  margin-bottom: 10px;
}

.hex-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: vertical;
}

.modal {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.hexField {
  font-size: large;
  cursor: pointer;
  color: rgb(61, 61, 207);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}