.app-header-button {
  margin-bottom: 10px;
}

.hex-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: vertical;
}

.hexField {
  font-size: large;
  cursor: pointer;
  color: rgb(61, 61, 207);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}